
.login-box{
    width: 380px;
    height: 290px;
    margin: 5% auto;
    padding: 40px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    backdrop-filter: blur(10px);   
}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-transform: uppercase;
    font-family:serif;
    font-size: xx-large;
    font-weight: bold;
}
.login-input{
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    color: black;
    font-size: medium;
    font-family:cursive;
    font-style: italic;
    padding: 0 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid navy;
}
.login-input:focus{
    outline: none;
    border-bottom: 2px solid darkblue;
}
.login-btn{
    width: 100%;
    height: 40px;
    background: purple;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: large;
    cursor: pointer;
    transition: background 0.3s ease;
}
.login-btn:hover{
    background: darkviolet;
}
.login-link {
  background: none;
  border: none;
  color: whitesmoke;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  transition: 0.3s;
}
.login-link:hover {
  color: rosybrown;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}
.error-text {
    color: white;
    background-color: nanosilver;
    margin-bottom: 15px;
    font-weight: bold;
}
.login-text{
    text-align: center;
    font-size: 14px;
    color: white;
    margin-top: 15px;
}