.register-box {
  background: #ffffff blur(10px);
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 350px;
  margin: 60px auto;
  padding: 28px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.register-title {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: serif;
  font-style: italic;
  color: white;
  text-align: center;
  margin-bottom: 12px;
}
.register-input{
  width: 100%;
    height: 35px;
    margin-bottom: 20px;
    color: red;
    font-size: medium;
    font-family:cursive;
    font-style: italic;
    padding: 0 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid navy;
}
.register-btn{
  width: 100%;
    height: 40px;
    background: purple;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: large;
    cursor: pointer;
    transition: background 0.3s ease;   
}
.register-btn:hover{
  color:red;
  text-shadow:0 0 100px wheat;
}
.register-text{
  text-align: center;
  font-size: 14px;
  color: white;
}
.register-link{
  background: none;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
}
.register-link:hover{
  cursor:pointer;
  color: lightgray;
  text-shadow:0 0 100px wheat;
  
}
