/* Crying Passenger */
.crying-passenger {
  position: relative;
  font-size: 70px;
  margin-bottom: 10px;
  animation: cryBounce 1.2s infinite;
}

/* Bounce effect */
@keyframes cryBounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

.no-results-box{
    text-align: center;
    backdrop-filter: blur(5px);
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
   
}

.no-results-text{
    font-size: 24px;
    color: white;
    font-family: serif;
    font-weight: bold;
}
.no-results-title{
    font-size: 32px;
    color: white;
    font-family: serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.no-results-btn{
    width: 150px;
    height: 40px;
    background: purple;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: large;
    cursor: pointer;
    transition: background 0.3s ease;   
}
.no-results-btn:hover{
    background: darkviolet;
}
.results-list{
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.result-card{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.bus-name{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.sub-text{
    font-size: 16px;
    margin-bottom: 5px;
}
.route{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.price{
    font-size: 20px;
    font-weight: bold;
    color: lightgreen;
}
.book-btn{
    width: 120px;
    height: 35px;
    background: green;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: medium;
    cursor: pointer;
    transition: background 0.3s ease;   
}
.select-seat-btn{
    width: 100%;
    height: 35px;
    padding: 0 10px;
    background: orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: medium;
    cursor: pointer;
    transition: background 0.3s ease;   
}
.select-seat-btn:hover{
    background: green;
    box-shadow: 0 0 10px lightgreen;
}