.tp-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.tp-card {
  background: #0e0d16;
  color: white;
  padding: 28px 32px;
  width: 400px;
  border-radius: 18px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 25px rgba(141, 0, 255, 0.6);
  border: 1px solid rgba(144, 0, 255, 0.3);
}

.tp-logo {
  width: 80px;
  margin-bottom: 10px;
}

.tp-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 14px;
}

.tp-details {
  text-align: left;
  margin: 15px 0;
  line-height: 1.7;
  font-size: 15px;
}

.tp-price {
  margin: 12px 0;
  font-size: 24px;
  color: #d654ff;
  font-weight: 800;
}

.tp-qr {
  margin: 14px 0;
  display: flex;
  justify-content: center;
}

.tp-download {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #7f27ff, #d653ff);
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 12px;
}

.tp-close {
  background: transparent;
  color: #bbb;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 8px;
}
