/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  background: white blur(10px);
  border-bottom: 1px solid #e5e7eb;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}

.brand {
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header-right button {
  background: none;
  border: none;
  font-size: 0.95rem;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.header-right button:hover {
  color: gainsboro;
  text-shadow: 0 0 100px rgba(255, 255, 255, 0.6);
}

.user {
  font-weight: 600;
  color: whitesmoke;
  display: flex;
  align-items: center;
  gap: 6px;
}

.logout {
  color: #dc2626 !important;
}
