.search-box {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 430px;
  margin: 60px auto;
  padding: 28px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.search-title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: bold;
  font-size: 35px;
  font-weight: 600;
  color: white;
  margin-bottom: 6px;
}

.search-input {
  text-align: center;
  width: 95%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

.search-input:focus {
  border-color: #2563eb;
  outline: none;
  box-shadow: 0 0 0 2px rgba(37,99,235,0.25);
}

.search-btn {
  width: 100%;
  padding: 14px;
  background: #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.search-btn:hover {
  color: #e0e7ff;
  background: green;
}
